{% extends 'base.html.twig' %}
	

{% set currentMenu = 2%}

{% block title %}Olivier Ardouvin{%endblock %}
{% block body %}
<div class="row">
<h1 class="col-sm-12 col-md-4">coucou</h1>
<span class="col-xs-6 col-md-4">mec fgdnfgldfngldfngl nldfgnlfgnlnndfkgndlnlknln</span>
<span class="col-xs-6 col-md-4">mec fgdnfgldfngldfngl ldfgnlfgnlnndfkgndlnlknln</span>
</div>
{% endblock %}